<div class="sprite {{this.tileClass}} {{if @tile.isActive 'active'}} {{if @tile.isSecondary 'secondary'}}"
  data-x={{@tile.x}}
  data-y={{@tile.y}}
  data-state={{@tile.state}}
  onclick={{fn this.selectTile}}>
  {{#if (and (eq @tile.x 4) (eq @tile.y 8))}}
    <div class="sprite character-infantry" onclick={{fn this.selectTile}}></div>
  {{/if}}

  {{#if (and (eq @tile.x 6) (eq @tile.y 9))}}
    <div class="sprite character-infantry" onclick={{fn this.selectTile}}></div>
  {{/if}}

  {{#if (and (eq @tile.x 5) (eq @tile.y 6))}}
    <div class="sprite building-house" onclick={{fn this.selectTile}}></div>
  {{/if}}

  {{#if tile.isActive}}
    <SquareBoard::SelectedTileMarker />
  {{/if}}
</div>
