<div class="sprite {{this.tileClass}} {{if @tile.isActive 'active'}} {{if @tile.isSecondary 'secondary'}}"
  data-x={{@tile.x}}
  data-y={{@tile.y}}
  data-state={{@tile.state}}
  onclick={{fn this.selectTile}}>

  {{#each this.units as |unit|}}
    <SquareBoard::Unit
      @unit={{unit}}
      @game={{@game}}
      @tile={{@tile}}
      onclick={{fn this.selectTile}} />
  {{/each}}

  {{#if @tile.isActive}}
    <SquareBoard::SelectedTileMarker />
  {{/if}}

  {{#if this.showMovement}}
    <SquareBoard::UnitMovement
      @unit={{@game.activeUnit}}
      @game={{@game}}
      @title={{@tile}} />
  {{/if}}
</div>
